{% extends "::base.html.twig" %}

    {% block content %}

        <div class="content">
            <h2 class="page_title">Все автомобили </h2>
            {% if(auto) %}
                <ul class="cars">
                    {% for car in auto %}
                        <li class="item">
                            <h3 class="auto_title"><a href="/auto/{{ car.id }}/{{ car.mark }}-{{ car.model }}">{{ car.mark }} {{ car.model }} {% if car.new == 0 %} (б/у) {% endif %} </a></h3>
                            <div class="for_img">
                                <a href="/auto/{{ car.id }}/{{ car.mark }}-{{ car.model }}"><img src="{{ asset('bundles/auto/userfiles/') }}{{ car.img }}" alt="{{ car.model }}"/></a>
                            </div><!-- .for_img -->
                            <p class="info about"><span class="price">{{ car.price|number_format(0, '.', ' ') }}</span> грн <br/> <a href="/app_dev.php/auto/{{ car.id }}/{{ car.mark }}-{{ car.model }}">Подробнее...</a></p>
                        </li>
                    {% endfor %}
                </ul>
                <br class="clear"/>

                {% block pagination %}
                    {% include 'AutoMainBundle:Default:pagination.html.twig' %}
                {% endblock %}

            {% else %}
                <p>Автомобилей пока нет!</p>
            {% endif %}

        </div><!-- .content -->


    {% endblock %}
