<div class="zayavka">
    <h2>Оставить заявку на авто</h2>
    <div class="for_img">
        <img src="{{ asset('bundles/auto/images/') }}porshe_zayavka.jpg" alt=""/>
    </div>
    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque id quam vitae ullamcorper. Maecenas a facilisis nisl. Sed nec velit a purus rutrum pulvinar. Integer tristique magna venenatis nisl commodo, quis dignissim diam faucibus. Proin a risus et justo pellentesque pulvinar. Etiam ut vestibulum purus, vitae volutpat velit. Phasellus sagittis elit a sollicitudin sodales. Vivamus tempor ornare aliquet. Aenean in posuere nisl. Aliquam orci nisi, molestie ut neque vel, dignissim convallis purus. Donec metus enim, tempus et tincidunt non, faucibus sed urna. Praesent sit amet sapien et lorem gravida commodo ut at velit.</article>
    <button id="submit_zayavka">Оставить заявку</button>
</div>
<br class="clear"/>

<section id="zayavka_form_layout">
        <div class="zayavka_form" id="zayavka_form">
            <div class="zayavka_form_header">
                <h2 class="page_title_popup">Оставление заявки на авто</h2>
                <p class="close_zayavka_form">Закрыть</p>
            </div>
            <div id="zayavka_form_content">
                {% if app.session.get('user_name') %}
                    <form action="{{ path('zayavka_new') }}" method="post" {{ form_enctype(form_zayavka) }} class="add_form" id="form_zayavka">
                        <fieldset>
                            <legend>Заполните поля</legend>
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            <div class="add_auto">
                                <div class="field">
                                    {% if(form_errors(form_zayavka.region)) %}
                                        <div class="error">{{ form_errors(form_zayavka.region) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.region) }}
                                    {{ form_widget(form_zayavka.region) }}
                                </div>
                                <script type="text/javascript">
                                    $('#add_zayavka_auto_region').prepend('<option value="any" selected>Любой</option>');
                                </script>

                                <div class="field">
                                    {% if(form_errors(form_zayavka.mark)) %}
                                        <div class="error">{{ form_errors(form_zayavka.mark) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.mark) }}
                                    {{ form_widget(form_zayavka.mark, { 'attr': {'data-url': path('AutoMainBundle_ajax_update_mydata_model') } } ) }}
                                </div>
                                <script type="text/javascript">
                                    $('#add_zayavka_auto_mark').prepend('<option value="0" selected>Выберите марку</option>');
                                </script>

                                <div class="field">
                                    {% if(form_errors(form_zayavka.model)) %}
                                        <div class="error">{{ form_errors(form_zayavka.model) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.model) }}
                                    {{ form_widget(form_zayavka.model, { 'attr': {'data-url': path('AutoMainBundle_ajax_update_mydata_year') } } ) }}
                                </div>
                                <script type="text/javascript">
                                    $('#add_zayavka_auto_model').empty().prepend('<option value="0" selected>Выберите модель</option>');
                                </script>

                                <div class="field">
                                    {% if(form_errors(form_zayavka.year)) %}
                                        <div class="error">{{ form_errors(form.year) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.year) }}
                                    {{ form_widget(form_zayavka.year, { 'attr': {'placeholder': 'Год выпуска автомобиля'} } ) }}
                                </div>
                                <script type="text/javascript">
                                    $('#add_zayavka_auto_year').empty().prepend('<option value="0" selected>Укажите год выпуска</option>');
                                </script>

                                <div class="field">
                                    {% if(form_errors(form_zayavka.body)) %}
                                        <div class="error">{{ form_errors(form.body) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.body) }}
                                    {{ form_widget(form_zayavka.body, { 'attr': {'placeholder': 'Тип кузова: '} } ) }}
                                </div>

                                <div class="field">
                                    {% if(form_errors(form_zayavka.run)) %}
                                        <div class="error">{{ form_errors(form.run) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.run) }}
                                    {{ form_widget(form_zayavka.run, { 'attr': {'placeholder': 'Пробег автомобиля'} } ) }}
                                </div>
                                <div class="field color">
                                    {% if(form_errors(form_zayavka.color)) %}
                                        <div class="error">{{ form_errors(form.color) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.color) }}
                                    {{ form_widget(form_zayavka.color, { 'attr': { 'placeholder': 'Цвет автомобиля', 'class': 'add_zayavka_color_field'} } ) }}
                                    <span class="color_box"></span>
                                </div>
                                <div class="field">
                                    {{ form_label(form_zayavka.new) }}
                                    {{ form_widget(form_zayavka.new) }}
                                </div>
                                <div class="field">
                                    {% if(form_errors(form_zayavka.price)) %}
                                        <div class="error">{{ form_errors(form_zayavka.price) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.price) }}
                                    {{ form_widget(form_zayavka.price, { 'attr': {'placeholder': 'Цена автомобиля'} } ) }}
                                </div>
                                <div class="field description_field">
                                    {% if(form_errors(form_zayavka.description)) %}
                                        <div class="error">{{ form_errors(form_zayavka.description) }}</div>
                                    {% endif %}
                                    {{ form_label(form_zayavka.description) }}
                                    {{ form_widget(form_zayavka.description, { 'attr': {'cols': '30', 'rows' : '5'} } ) }}
                                </div>

                                {{ form_row(form_zayavka._token) }}

                                <input type="submit" value="Добавить" id="send_zayavka"/>
                            </div><!-- .add_auto -->

                        </fieldset>

                    </form>
                {% else %}
                    <p class="notice">Для добавления заявки необходимо авторизоваться!</p>
                {% endif %}
            </div>

        </div>
</section>

